.stacker{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 85%;
}

#gameBtn {
    animation: none;
    height: 100px;
    width: 300px;
    font-size: 70px;
    border-radius: 50px;
}

#gameBtn:hover {
    background-color: black;
    color: white;
}

#game {
    height: 90vh;
    border: 2px black solid;
    margin-top: -10px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    height: 100%;
}

.box {
    width: 100%;
    background-color: rgb(245, 245, 245);
    border: 1px lightgrey solid;
}

.finalRow {
    width: 100%;
    background-color: rgb(208, 241, 208);
    border: 1px lightgrey solid;
}

.bar {
  background-color: rgb(17, 17, 17);
}

.blink {
    animation: blink 0.15s forwards;
    animation-iteration-count: 3;
}

#gameContainer {
    position: relative;
}

#gameStatus {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding-top: 200px;
    font-size: 95px;
    text-align: center;
    display: none;
    z-index: 3;
}

@keyframes blink {
    from{
        background-color: black;
    } 
    to {
        background-color: rgb(245, 245, 245);
    }
}