.items-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  box-sizing: border-box;
  text-align: center;
}

.item:hover {
  border: 2px solid rgb(219, 217, 217);
  cursor: pointer;
}

.item img {
  width: auto;
  height: 40vh;
}

div.item .desc {
  margin: 0;
  margin-bottom: 20px;
}

.detail {
  position: fixed;
  height: 100%;
  width: 0%;
  top: 0;
  right: 0;
  list-style: none;
  background-color: rgb(17, 17, 17);
  margin: 0px;
  padding-top: 50px;
  overflow: hidden;
  z-index: 5;
  transition: width 0.5s;
}

.detail-content {
  height: 40%;
  width: auto;
}

.buyBtn {
  width: 60%;
  height: 8%;
  color: white;
  font-size: 70px;
  border: 3px solid white;
  overflow: hidden;
  margin-top: 50px;
}

.buyBtn:hover {
  background-color: rgb(235, 235, 235);
  color: black;
}

.detailBtn {
  display: block;
  color: white;
  width: 500px;
  margin-bottom: 30px;
  font-size: 60px;
}

.detailBtn:hover {
  color: white;
  display: block;
  animation: vibrate 0.2s;
  animation-iteration-count: infinite;
}
