h2 {
  font-size: 100px;
  font-weight: normal;
  margin-top: 0;
  padding-top: 50px;
}

.items-container {
  margin: 0 50px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  box-sizing: border-box;
  text-align: center;
}

.item:hover {
  border: 2px solid rgb(219, 217, 217);
  cursor: pointer;
}

.item img {
  width: auto;
  height: 40vh;
}

div.item .desc {
  margin: 0;
  margin-bottom: 20px;
}

#detail {
  position: fixed;
  height: 100%;
  width: 500px;
  top: 0;
  right: -800px;
  list-style: none;
  background-color: rgb(17, 17, 17);
  margin: 0px;
  padding-top: 50px;
  overflow: hidden;
  z-index: 5;
  transition: right 0.5s ease;
}

.detail-content {
  height: 40%;
  width: auto;
}

.customBtn {
  position: absolute;
  width: 60%;
  height: 8%;
  color: white;
  background-color: rgb(17, 17, 17);
  font-size: 70px;
  border: 3px solid white;
  overflow: hidden;
  bottom: 130px;
  left: 20%;
}

#addBtn:hover {
  background-color: rgb(235, 235, 235);
  color: black;
}

.containerBtn {
  display: block;
  color: white;
  margin-bottom: 30px;
  font-size: 60px;
}

.containerBtn:hover {
  color: white;
  display: block;
  animation: vibrate 0.2s;
  animation-iteration-count: infinite;
}

.quantity {
  position: absolute;
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 10px;
  left: 115px;
  bottom: 230px;
}

.quantity .quantityValue {
  color: white;
  display: inline;
  margin: 0 20px;
}

.quantity .quantityBtn {
  padding: 0 50px;
  color: white;
}

.loading {
  position: absolute;
  height: 95px;
  bottom: 122px;
}

.message {
  position: absolute;
  opacity: 0;
  font-size: 50px;
  bottom: 20px;
}

#cartBtn {
  position: sticky;
  top: 45px;
  left: 100%;
  border: none;
  background: none;
  color: black;
  z-index: 2;
}

#cart {
  position: fixed;
  height: 100%;
  width: 500px;
  top: 0;
  right: -800px;
  list-style: none;
  background-color: rgb(17, 17, 17);
  margin: 0px;
  padding-top: 50px;
  overflow: hidden;
  z-index: 4;
  transition: right 0.5s ease;
}

#cartInfo {
  height: 65vh;
  overflow-y: auto;
  direction: rtl;
}

#checkoutBtn:hover {
  background-color: rgb(235, 235, 235);
  color: black;
}

#emailModal {
  display: none;
  position: fixed;
  justify-items: center;
  z-index: 10;
  padding-top: 220px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

#emailContainer {
  background-color: rgb(17, 17, 17);
  justify-items: center;
  padding-top: 20px;
  min-width: 350px;
  width: 30%;
  height: auto;
  animation: zoom 0.5s;
}

#emailContainer * {
  margin: 10px 0;
}

#confirmBtn {
  margin-top: 30px;
  color: white;
  background-color: rgb(17, 17, 17);
  border: 3px solid white;
}

#confirmBtn:hover {
  background-color: rgb(235, 235, 235);
  color: black;
}

#invalidEmail {
  color: red;
  font-size: 50px;
  opacity: 0;
}

@media screen and (max-width:1000px) {
  #detail {
    width: 350px;
  }

  #cart {
    width: 350px;
  }

  #addBtn{
    font-size: 50px;
  }

  #checkoutBtn{
    font-size: 50px;
  }
  
  .detail-content {
    width: 80%;
    max-width: 400px;
    height: auto;
  }

  #text {
    font-size: 50px;
    padding: 0 40px;
    padding-top: 20px;
  }
}

@media screen and (max-width:800px) {
  #detail {
    width: 100%;
    transition: right 1s;
  }

  #cartBtn {
    font-size: 40px;
    top: 20px;
    margin-right: -40px;
  }

  #cart {
    width: 100%;
    transition: right 1s;
  }
}

@media screen and (max-width:500px) {
  h2 {
    font-size: 80px;
  }
}
