body {
  overflow-x: hidden;
}

.items-container {
  margin: 0 50px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  box-sizing: border-box;
  text-align: center;
}

.item:hover {
  border: 2px solid rgb(219, 217, 217);
  cursor: pointer;
}

.item img {
  width: auto;
  height: 40vh;
}

div.item .desc {
  margin: 0;
  margin-bottom: 20px;
}

#detail {
  position: fixed;
  height: 100%;
  width: 500px;
  top: 0;
  right: -500px;
  list-style: none;
  background-color: rgb(17, 17, 17);
  margin: 0px;
  padding-top: 50px;
  overflow: hidden;
  z-index: 5;
  transition: right 0.5s;
}

.detail-content {
  height: 40%;
  width: auto;
}

.customBtn {
  position: absolute;
  width: 60%;
  height: 8%;
  color: white;
  background-color: rgb(17, 17, 17);
  font-size: 70px;
  border: 3px solid white;
  overflow: hidden;
  bottom: 130px;
  left: 105px;
}

#addBtn:hover {
  background-color: rgb(235, 235, 235);
  color: black;
}

.quantity {
  position: absolute;
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 10px;
  left: 115px;
  bottom: 230px;
}

.quantity .quantityValue {
  color: white;
  display: inline;
  margin: 0 20px;
}

.quantity .quantityBtn {
  padding: 0 50px;
  color: white;
}

.loading {
  position: absolute;
  height: 95px;
  left: 205px;
  bottom: 122px;
}

.message {
  position: absolute;
  opacity: 0;
  font-size: 50px;
  left: 150px;
  bottom: 20px;
}

#cartBtn {
  position: sticky;
  top: 45px;
  left: 100%;
  border: none;
  background: none;
  color: black;
  z-index: 2;
}

#cart {
  position: fixed;
  height: 100%;
  width: 500px;
  top: 0;
  right: -500px;
  list-style: none;
  background-color: rgb(17, 17, 17);
  margin: 0px;
  padding-top: 50px;
  overflow: hidden;
  z-index: 4;
  transition: right 0.5s;
}

#cartInfo {
  height: 65vh;
  overflow-y: auto;
  direction: rtl;
}

#checkoutBtn:hover {
  background-color: rgb(235, 235, 235);
  color: black;
}
