@font-face {
  font-family: custom;
  src: url("custom_font.ttf");
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: custom, sans-serif;
  font-size: 60px;
  text-align: center;
}

#main {
  position: relative;
  padding: 0;
  transition: margin-left 0.5s, margin-right 0.5s;
  animation: fade 0.9s;
}

h2 {
  font-size: 120px;
  font-weight: normal;
  margin-top: 0;
  padding-top: 50px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  display: inline-block;
  animation: vibrate 0.2s;
  animation-iteration-count: infinite;
  color: rgb(59, 59, 59);
  cursor: pointer;
}

.reward {
  height: 0;
  overflow: hidden;
  transition: 0.8s;
}

.menu {
  position: fixed;
  height: 100%;
  width: 0%;
  top: 0;
  list-style: none;
  background-color: black;
  margin: 0px;
  padding-top: 50px;
  padding-left: 0;
  overflow: hidden;
  z-index: 5;
  transition: width 0.5s;
}

.menu li {
  width: 100%;
  font-size: larger;
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 15px;
}

.menu li a:hover {
  animation: vibrate 0.2s;
  animation-iteration-count: infinite;
}

#menuBtn {
  position: fixed;
  z-index: 2;
  top: 40px;
  left: 20px;
  border: none;
}

.menuClose {
  display: block;
  text-align: center;
  font-size: 60px;
  color: white;
  margin-bottom: 50px;
}

.menuClose:hover {
  color: rgb(219, 219, 219);
  cursor: pointer;
  animation: vibrate 0.2s;
  animation-iteration-count: infinite;
}

.secret {
  position: absolute;
  opacity: 0.05;
}

.secret:hover {
  opacity: 1;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 200px;
  color: black;
  text-align: center;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.gallery-container {
  position: relative;
  justify-items: center;
}

.gallery {
  display: flex;
  width: 90%;
  gap: 10px;
  justify-content: flex-start;
  overflow-x: auto;
  scrollbar-width: none;
}

.gallery img {
  height: 45vh;
  display: inline-block;
  box-sizing: border-box;
}

.gallery img:hover {
  cursor: pointer;
  border: 2px solid rgb(219, 217, 217);
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 130px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  height: 60%;
  max-width: 600px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  text-align: center;
  padding: 25px;
  color: white;
  font-size: 80px;
}

.modal-content,
#caption {
  animation: zoom 0.5s;
}

.close {
  position: absolute;
  top: 40px;
  right: 50px;
  color: white;
  font-size: 80px;
}

.close:hover {
  color: rgb(219, 219, 219);
  cursor: pointer;
  animation: vibrate 0.2s;
  animation-iteration-count: infinite;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  color: black;
  top: 40%;
  padding: 10px;
}

.prev.disabled,
.next.disabled {
  opacity: 0;
  pointer-events: none;
}

.prev {
  left: 2%;
}

.next {
  right: 2%;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.lineEdit {
  width: 30%;
  height: 52px;
  font-family: custom, sans-serif;
  font-size: 60px;
  border: 3px solid black;
}

button {
  width: 200px;
  height: 60px;
  font-family: custom, sans-serif;
  font-size: 60px;
  border: 3px solid black;
  background: none;
}

button:hover {
  animation: vibrate 0.2s infinite;
  cursor: pointer;
}

.caption {
  position: absolute;
  bottom: 10%;
  left: 43.5%;
}

#toTopBtn {
  width: 0px;
  z-index: 2;
  position: fixed;
  top: 40px;
  right: 50px;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.5s;
  padding: 0;
}

#toTopBtn:hover {
  animation: vibrate 0.2s;
  animation-iteration-count: infinite;
}

@keyframes vibrate {
  0% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  10% {
    transform: translate(0px, 10px) rotate(0deg);
  }
  20% {
    transform: translate(-5px, 0px) rotate(-5deg);
  }
  30% {
    transform: translate(-10px, 10px) rotate(0deg);
  }
  40% {
    transform: translate(5px, -5px) rotate(5deg);
  }
  50% {
    transform: translate(10px, 0px) rotate(0deg);
  }
  60% {
    transform: translate(5px, -5px) rotate(-5deg);
  }
  70% {
    transform: translate(10px, 10px) rotate(0deg);
  }
  80% {
    transform: translate(-5px, 0px) rotate(5deg);
  }
  90% {
    transform: translate(-10px, -5px) rotate(0deg);
  }
  50% {
    transform: translate(0px, 15px) rotate(-5deg);
  }
}

@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
